<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bmi_project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication2">
        <activity
            android:name="com.example.bmi_project.FoodItemActivity"
            android:exported="false" />
        <activity
            android:name="com.example.bmi_project.FoodListActivity"
            android:exported="false" />
        <activity
            android:name="com.example.bmi_project.RecordItemActivity"
            android:exported="false" />
        <activity
            android:name="com.example.bmi_project.EditFoodActivity"
            android:exported="false" />
        <activity
            android:name="com.example.bmi_project.AddFoodActivity"
            android:exported="false" />
        <activity
            android:name="com.example.bmi_project.NewRecordActivity"
            android:exported="false" />
        <activity
            android:name="com.example.bmi_project.HomeActivity"
            android:exported="false" />
        <activity
            android:name="com.example.bmi_project.InfoActivity"
            android:exported="false" />
        <activity
            android:name="com.example.bmi_project.SignupActivity"
            android:exported="false" />
        <activity
            android:name="com.example.bmi_project.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.example.bmi_project.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.example.bmi_project.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>